<% lock = "" %> 
<% if room.is_private %>
<% lock = " 🔒 " %> 
<% if !room.name.match?('private_\d+_\d+') %>
<div class="room-icon-align" style="color:#ff8f00;">
<span class="material-icons">
lock
</span> <%= link_to room.name , room , class: "uppy"%>
</div>
<% end %>
<% elsif room.distance == Float::MAX %>
<% lock = " 📔 " %>
<div class="room-icon-align" style="color:#424242;">
<span class="material-icons">
menu_book
</span> <%= link_to room.name , room , class: "uppy"%>
</div>
<% else lock = " 🔓 " %> 
<div class="room-icon-align" style="color:#ff8f00;">
<span class="material-icons">
  lock_open
  </span> <%= link_to room.name , room , class: "uppy"%>
</div>
<% end %> 
